<div class="container">
  <div class="col-md-6 text-center">
    <p>
      <%= image_tag 'balls_of_fury.jpg' %>
    </p>
    <p class="bs-component container">
      <div class="row center-block">
        <%= link_to "Players", :players, class: 'btn btn-primary btn-lg' %>
      </div>
    </p>
    <p class="bs-component container">
      <div class="row center-block">
        <%= link_to "Games", :games, class: 'btn btn-primary btn-lg' %>
      </div>
    </p>
  </div>
  <div class="col-md-6 text-center">
    <%= image_tag 'intense_table_tennis.jpg' %>
  </div>
</div>
